{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="grids-4" id="properties">
  <div id="grids4-block" class="py-5">
    <div class="container py-md-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">Properties For sale</h3>
        <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row mt-5 pt-3">
        {% for property in property_details %}
        <div class="grids4-info col-lg-4 col-md-6 my-3">
          <a href="/property_details/{{ property.property_slug }}">
            <img src="{{ property.property_image_main.url }}" class="img-fluid" alt="Propert Image">
            <ul class="location-top">
              <li class="rent">For Rent</li>
              <li class="open-1">Open House</li>
            </ul>
            <div class="info-bg">
              <h5>{{ property.title }}</h5>
              <p>&#8377; {{ property.price|intcomma }}</p>
              <p>{{ property.created_date|timesince }} ago</p>
              <ul>
                <li><span class="fa fa-home"></span>Rooms: {{ property.rooms }}</li>
                <li><span class="fa fa-bath"></span>Bath: {{ property.bathrooms }}</li>
                <li><span class="fa fa-share-square-o"></span>{{ property.sqft }} Sqft</li>
              </ul>
            </div>
          </a>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <div class="container">
          <nav aria-label="Page navigation example">
            {% if property_details.has_other_pages %}
            <ul class="pagination">
              {% if property_details.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ property_details.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}

              {% for i in property_details.paginator.page_range %}

              {% if property_details.numbers == 1 %}
              <li class="page-item">
                <a class="page-link">{{ i }}</a>
              </li>
              {% else %}
              <li class="page-item">
                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
              </li>
              {% endif %}

              {% endfor %}

              {% if property_details.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ property_details.next_page_number }}" aria-label="next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
            {% endif %}
            {% endif %}
          </nav>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}