{% extends 'admin_base.html' %}

{% block content %}
<section class="content">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <a href="{% url 'add_realtors' %}" class="btn btn-info btn-lg waves-effect">+ADD REALTORS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              Manage Realtors
            </h2>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Realtor Name</th>
                    <th>Realtor Email</th>
                    <th>Realtor Description</th>
                    <th>Realtor Image</th>
                    <th>Realtor Mobile No.</th>
                    <th>Created By</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for realtor in realtors %}
                  <tr id="">
                    <td>{{ realtor.realtor_username }}</td>
                    <td>{{ realtor.realtor_name }}</td>
                    <td>{{ realtor.email }}</td>
                    <td>{{ realtor.realtor_description|truncatechars:200|safe  }}</td>
                    <td><img src="{{ realtor.realtor_image.url }}" width="80%" alt="Realtor Image"
                        class="img-fluid">
                    </td>
                    <td>{{ realtor.mobile }}</td>
                    <td>{{ realtor.created_by }}</td>
                    <td><a href="/edit_realtor/{{ realtor.id }}" class="btn btn-primary">Edit</a>  <a
                        href="/delete_realtors/{{ realtor.id }}" class="btn btn-danger">delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}